.banner{
	background-image: url(../../image/IESEGFOOT.png);
	color: green;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1{
	font-size: 140px;
}

.banner h2{
	font-size: 70px;
	font-weight: bold;
	opacity: 0.8;
	margin-bottom: 40px;
}