.card {
	background-color: #d4d7dd;
	padding: 30px;
	border: 1px solid rgba(30,30,30,0.9);
	box-shadow: 0px 5px 20px #1f6650;
	border-radius: 25px;
	text-align: center;
  	align-items: center;
  	justify-content: space-around;
}
.card img {
  width: 150px;
}

.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.card{
  flex-basis: 250px;
	flex-grow: 1;
	margin: 8px;
}

#cards{
	display: flex;
}

#card-droite{
	overflow: auto;
}

#card-gauche{
	float: left;
	width: 60%;
}